body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  background-color: green;
  flex-direction: column;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: flex-start;
}

.logo {
  display: flex;
  margin-right: auto;
}

.links {
  display: flex;
}

.intro {
  display: flex;
  width: 100%;
}

.intro_content {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.intro_image {
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle_part {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.middle_images {
  display: flex;
  justify-content: center;

.middle_image {
  width: 100px;
  height: 100px:

.quote {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup_part {
  display: flex;
  width: 100%;
}

.small_signup_part {
  display: flex;
  padding: 5px;
  background-color: green;
}

.signup_content {
  display: flex;
  flex-direction: column;

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
}
