body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: green;
  flex-direction: column;
}.

.navbar {
  display: flex;
  justify-content: flex-start;
}

.logoo {
  display: flex;
  margin-right: auto;
}

.links {
  display: flex;
}

.intro {
  display: flex;
}

.intro_content {
  display: flex;
  display-direction: column;
  margin-right: auto;
}

.intro_image {
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: centee;
}

.middle_part {
  display: flex;
  flex-direction: column;
}

.quote {
  display: flex;
  flex-direction: column;
}

.signup_part {
  display: flex;

.footer {
  display: flex;
  justify-content: center;
}


  
  
